{% extends "HeaderFooter.html" %}
{% block content %}
<div class="container">
    <form action="/ajout-article" method="post">
        <div class="form-group">
            <label for="titre">Titre :</label>
            <input type="text" class="form-control" id="titre" name="titre" required/>
        </div>
        <div class="form-group">
            <label class="control-label" for="identifiant">Identifiant :</label>
            <input type="text" class="form-control" id="identifiant" name="identifiant" required />
        </div>
        <div class="form-group">
            <label for="auteur">Auteur :</label>
            <input type="text" class="form-control" id="auteur" name="auteur" required/>
        </div>
        <div class="form-group">
            <label for="date_publication">Date de publication :</label>
            <input type="text" class="error" id="date_publication" name="date_publication" required />
        </div>
        <div class="form-group">
            <label for="paragraphe">Paragraphe :</label>
            <textarea class="form-control" id="paragraphe" name="paragraphe" required></textarea>
        </div>
		<div class="form-group">
            <input type="submit" value="Enregistrer"/>
        </div>
    </form>
</div>
{% endblock %}