{% extends "HeaderFooter.html" %}
{% block content %}
<div class="container">
    <form action="/edition-article" method="post">
        <div class="form-group">
            {% if titre not in 'Erreur' %}
                <label for="titre">Titre :</label>
                <input type="text" class="form-control" id="titre" name="titre" value='{{ article.titre }}' required/>
            {%  elif erreur.titre in 'Valide' %}
                <label for="titre">Titre :</label>
                <input type="text" class="form-control valide" id="titre" name="titre" value='{{ article.titre }}' required/>
            {% else %}
                <label for="titre" style="color:darkred">Titre : *{{ erreur.titre }}</label>
                <input type="text" class="form-control error" id="titre" name="titre" value='{{ article.titre }}' required/>
            {% endif %}
        </div>
        <div class="form-group" >
            <label class="control-label" for="identifiant">Identifiant : {{ article.identifiant}}</label>
            <input type="text" style="display :none;" class="form-control" id="identifiant" name="identifiant" value="{{ article.identifiant }}"  required />
        </div>
        <div class="form-group" >
            <label for="auteur">Auteur : {{ article.auteur }}</label>
            <input type="text" class="form-control" style="display :none;" id="auteur" name="auteur" value="{{ article.auteur }}"  required/>
        </div>
        <div class="form-group">
            <label for="date_publication">Date de publication : {{ article.date_publication }}</label>
            <input type="date" class="form-control" id="date_publication" style="display :none;" name="date_publication" value="{{ article.date_publication }}"  required />
        </div>
        <div class="form-group">
            {% if titre not in 'Erreur' %}
                <label for="paragraphe">Paragraphe :</label>
                <textarea class="form-control " id="paragraphe" name="paragraphe" required>{{ article.paragraphe }}</textarea>
            {% elif erreur.paragraphe in 'Valide' %}
                <label for="paragraphe">Paragraphe :</label>
                <textarea class="form-control valide" id="paragraphe" name="paragraphe" required>{{ article.paragraphe }}</textarea>
            {% else %}
                <label for="paragraphe" style="color:darkred" >Paragraphe : {{ erreur.paragraphe }}</label>
                <textarea class="form-control error" id="paragraphe" name="paragraphe" required>{{ article.paragraphe }}</textarea>
            {% endif %}
        </div>
		<div class="form-group">
            <input type="submit" value="Enregistrer"/>
        </div>
    </form>
</div>
{% endblock %}