{% extends "HeaderFooter.html" %}
{% block content %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <form action="/recherche" method="get">
                    <input type="text" id="valeur_recherche" name="valeur_recherche" class="col-sm-10"></input>
                    <input type="submit" id="submit" value="recherche"></input>
                </form>
            </div>  
        <div/>
		<br/>
		<hr/>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    {% for article in articles %}
                    <h2 class="titre-article">
                        {{ article.titre }}
                    </h2> 
                    <h4>
                        {{ article.paragraphe }}
                    </h4>
                    <h3 class="sous-titre-article">
                         {{ article.auteur }} / {{ article.date_publication }}
                    </h3> 
                    <h4>
                        ref.  {{ article.identifiant }} ({{ article.id }})
                    </h4>
                    <hr/>
                    {% endfor %}
                </div>
                <!-- Pager -->
                <!-- <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul> -->
            </div>
        </div>
    </div>
{% endblock %}