{% extends "HeaderFooter.html" %}
{% block content %}
    <!-- Main Content -->
    <div class="container">
		<br/>
		<hr/>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <h2 class="titre-article">
                        <h3 class="sous-titre-article">{{ articles[0].paragraphe }}</h3>  </p>
                        <h4 class="sous-titre-article">{{ 'Ref: ' + articles[0].identifiant }}</h4>  
                    </h2>
                    <hr/>
                </div>
                <!-- Pager -->
                <!-- <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul> -->
            </div>
        </div>
    </div>
{% endblock %}